* {
    box-sizing: border-box;
}

:root {
    --viridian: #338033;
    --midnight: black;
    --tomato: tomato;

    --accent-color-positive: var(--viridian);
    --accent-color-negative: var(--tomato);

    --main-color-01: white;
    --main-color-02: rgba(255, 255, 255, 0.7);

    --background-color-01: rgb(48, 44, 64);
    --background-color-02: rgb(21, 21, 25);

    --accent-color-01: goldenrod;
    --accent-color-02: rgb(91, 177, 150);
    --accent-color-02b: rgba(91, 177, 150, 0.5);
    --accent-color-03: rgb(239, 57, 112);

    --navbar-compact-width: 4rem;
    --navbar-expanded-width: 14rem;

    --navbar-background-color: rgba(21, 21, 25, 0.6);

    --header-height: 60px;

    --darkColor: rgb(51, 67, 80);
    --darkColorOverlay-1: rgba(51, 67, 80, 0.75);
    --darkColorOverlay-2: rgba(51, 67, 80, 0.5);
    --darkColorOverlay-3: rgba(51, 67, 80, 0.25);
    --darkColorOverlay-4: rgba(51, 67, 80, 0.05);

    --mainColor: rgb(91, 177, 150);
    --mainColorOverlay-1: rgba(91, 177, 150, 0.95);
    --mainColorOverlay-2: rgba(91, 177, 150, 0.75);
    --mainColorOverlay-3: rgba(91, 177, 150, 0.5);
    --mainColorOverlay-4: rgba(91, 177, 150, 0.25);
    --mainColorOverlay-5: rgba(91, 177, 150, 0.05);

    --lightColor: rgba(230, 230, 235, 1);
    --lightColorOverlay-1: rgba(230, 230, 235, 0.95);
    --lightColorOverlay-2: rgba(230, 230, 235, 0.75);
    --lightColorOverlay-3: rgba(230, 230, 235, 0.5);
    --lightColorOverlay-4: rgba(230, 230, 235, 0.25);
    --lightColorOverlay-5: rgba(230, 230, 235, 0.05);

    --darkColor: rgba(0, 0, 0, 1);
    --darkColorOverlay-1: rgba(0, 0, 0, 0.95);
    --darkColorOverlay-2: rgba(0, 0, 0, 0.75);
    --darkColorOverlay-3: rgba(0, 0, 0, 0.5);
    --darkColorOverlay-4: rgba(0, 0, 0, 0.25);
    --darkColorOverlay-5: rgba(0, 0, 0, 0.05);

    --accentColor: rgb(239, 57, 112);
    --accentColorOverlay-1: rgba(239, 57, 112, 0.95);
    --accentColorOverlay-2: rgba(239, 57, 112, 0.75);
    --accentColorOverlay-3: rgba(239, 57, 112, 0.5);
    --accentColorOverlay-4: rgba(239, 57, 112, 0.25);
    --accentColorOverlay-5: rgba(239, 57, 112, 0.05);

    --success-color: #5cb85c;
    --info-color: #5bc0de;
    --warning-color: #f0ad4e;
    --error-color: #d9534f;

    --semanticPositiveColor: rgb(33, 186, 69);
    --semanticPositiveHoveredColor: rgb(22, 171, 57);
    --semanticPositiveHoveredColor-03: rgba(22, 171, 57, 0.25);

    --box-glow: 0 0 5px 5px rgba(210, 245, 235, 0.2);

    --break-small: 360px;
    --break-medium: 760px;
    --break-large: 1200px;
    --break-huge: 1800px;
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color-01);
}

#root {
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

// --------------- General Semantic UI adjustments ---------------
.ui.button.disabled:disabled {
    pointer-events: inherit !important;
    cursor: not-allowed;
}

.muted {
    opacity: 0.3;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
