.text-processing-output {
    min-height: 50vh;
    grid-area: output;
    position: relative;
    display: flex;
    flex-direction: column;

    &-explanation {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 1rem;

        & .output-deleted {
            color: var(--accentColor);
        }

        & .output-added {
            color: var(--mainColor);
        }
    }

    &-text {
        flex-grow: 1;
        word-break: break-all;
        column-count: 2;
        column-gap: 2rem;
        text-align: justify;
        color: #767676;

        & .added {
            color: var(--mainColor);
        }

        & .removed {
            color: var(--accentColor);
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
    }
}
