.custom-button {
    height: 2.5rem;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7rem;
    border: 2px solid var(--mainColorOverlay-1);
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--mainColorOverlay-1);
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;

    @media (min-width: var(--breakMedium)) {
        font-size: 1rem;
        min-width: 13rem;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--lightColor);
    }

    &:hover,
    &:focus {
        background-color: transparent;
        box-shadow: 0 0 0.3rem 0.3rem var(--mainColorOverlay-2);
        border: 2px solid var(--mainColorOverlay-1);
        color: var(--mainColorOverlay-2);
        font-weight: 700;
        outline: none;
    }

    &:active {
        box-shadow: 0 0 0.5rem 0.5rem var(--accentColorOverlay-3);
        outline: none;
    }

    &.inverted {
        border: 2px solid var(--mainColorOverlay-1);
        background-color: transparent;
        color: var(--mainColorOverlay-1);

        &:hover,
        &:focus {
            border: none;
            background-color: var(--mainColorOverlay-1);
            // box-shadow: 0 0 0.5rem 0.5rem var(--accentColorOverlay-3);
            color: white;
            font-weight: 700;
            outline: none;
        }

        &:active {
            box-shadow: 0 0 0.5rem 0.5rem var(--mainColorOverlay-2);
            outline: none;
        }
    }

    span,
    .icon {
        margin: 0 0.25rem;
    }
}
