.page-wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    color: var(--main-color-02);
    z-index: 0;
}
