.modal-backdrop {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    visibility: hidden;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    min-width: 30vw;
    max-width: 65vw;
    min-height: 30vh;
    max-height: 65vh;
    padding: 2.5rem;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}

.modal-backdrop,
.modal-container {
    opacity: 1;
    visibility: visible;
}

.modal-close {
    position: absolute;
    top: 0.35rem;
    right: 1rem;
    color: #363636;
    font-size: 2em;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-title {
    margin-bottom: 1em;
    color: #4392c7;
    font-weight: 400;
    text-transform: none;
}
