.file-batch-table {
    width: 100%;
    color: var(--main-color-02);
    border-collapse: collapse;
    animation: fadeIn 1.2s;

    a {
        color: var(--main-color-02);
    }

    tbody {
        max-height: 50vh;
        overflow: scroll;
    }

    th {
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
    }
}
