.ui.placeholder.segment {
    transition: height 3s ease;

    &.collapsed {
        border: none;
        height: 0;
        min-height: 0;
        overflow: hidden;
        padding: 0;
    }
}

.ui.label.help-tag {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.ui.label.help-tag:hover {
    background-color: var(--semanticPositiveHoveredColor) !important;
    box-shadow: 0 0 0 0.2rem var(--semanticPositiveHoveredColor-03);
    cursor: pointer;
}

.ui.icon.collapse-icon:hover {
    color: var(--semanticPositiveHoveredColor) !important;
}

.file-upload {
    &-input {
        display: none;
    }

    &-drop-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        border: 2px dashed var(--lightColor);
        padding: 2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        background-color: transparent;

        &.hovered {
            color: var(--accentColor);
            border-color: var(--accentColor);
            border-style: solid;
            box-shadow: inset 0 0 0.5rem 0.5rem var(--accentColorOverlay-3);
        }
    }

    &-browse-area,
    &-drop-area {
        &:hover {
            border-color: var(--semanticPositiveHoveredColor);

            .ui.button {
                background-color: var(--semanticPositiveHoveredColor);
                color: white;
            }
        }
    }

    & .icon {
        font-size: 3rem;
    }

    & .instructions {
        padding: 1rem;
    }
}
