.module-board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.module-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.module-container-title {
    margin-top: 1rem;
    font-weight: 300;
}

.module-list-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #49505e;
}

.module-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #49505e;
}

.workflow-input {
    height: 30px;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
}

.workflow-input-title {
    margin: 0.5rem 0;
}

.workflow-input-type {
    &-label {
        display: block;
        width: calc(100% - 1rem);
    }

    &-select {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: 1px solid var(--main-color-02);
        color: var(--main-color-02);
        background-color: transparent;
        text-align: center;
        text-align-last: center;

        & option {
            background-color: var(--background-color-01);
            text-align: center;
        }

        &:focus {
            outline: none;
            border: 1px solid var(--accent-color-01);
            box-shadow: 0 0 0.25rem var(--accent-color-01);
        }
    }
}

.workflow-operations {
    width: 100%;
    min-height: 30px;
    margin: 3rem 0;
    padding: 0.5rem;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
}

.workflow-controls {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .workflow-button-reset,
    .workflow-button-execute,
    .workflow-button-save {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        & svg {
            height: 1.75rem;
            width: 1.75rem;
            fill: var(--main-color-01);
        }

        &:hover svg {
            transform: scale(1.3);
        }
    }

    .workflow-button-reset {
        &:hover svg {
            fill: var(--accent-color-03);
        }
    }

    .workflow-button-execute {
        & svg {
            & path {
                stroke: var(--main-color-01);
            }
        }

        &:hover svg path {
            stroke: var(--accent-color-02);
        }
    }

    .workflow-button-save {
        &:hover svg {
            fill: var(--accent-color-01);
        }
    }
}
