.module-board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.module-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.module-list {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #49505e;
}

.workflow-chain {
    margin: 3rem 0;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #49505e;

    & .module-card.input {
        margin-right: auto;
    }

    & .module-card.output {
        margin-left: auto;
    }
}

.workflow-input {
    height: 30px;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
}

.workflow-operations {
    width: 100%;
    min-height: 30px;
    margin-bottom: 3rem;
    padding: 0.5rem;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
}
