.profile-bubble {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
    padding: 0 1rem;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeIn 1.2s;

    & .user-status {
        position: absolute;
        right: 45px;
        top: 11px;
        transform: translateY(-50%);
    }

    // :before serves as a hover bridge for the arrow (:after)
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        border-top: 5px solid white;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }

    & .profile-menu-nav {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    &:hover,
    &:active,
    &:focus {
        overflow: visible;

        &:after {
            top: 8px;
            border-top: none;
            border-bottom: 5px solid white;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }
        .profile-menu-nav {
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }
}
