.text-processing-table {
    width: 100%;
    border: 1px solid var(--main-color-02);
    border-radius: 0.25rem;
    border-collapse: collapse;

    & thead tr th {
        padding: 1rem;
        color: var(--main-color-02);
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    & tr:not(:last-child),
    th:not(:last-child) {
        border: 1px solid var(--main-color-02);
    }

    & tr:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    & th {
        background-color: transparent;
    }

    & td {
        padding: 0 1rem;
        color: var(--main-color-02);
        font-size: 0.8rem;
    }
}
