.text-pool-choice {
    width: 100%;
    margin: 0;
    padding: 0 0 2rem;
    display: flex;
    flex-direction: column;
}

.text-pool-choice-label {
    padding: 0.5rem;
}

.text-pool-choice-select {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--main-color-02);
    color: var(--main-color-02);
    background-color: transparent;
    text-align: center;
    text-align-last: center;

    & option {
        background-color: var(--background-color-01);
        text-align: center;
    }

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color-01);
        box-shadow: 0 0 0.25rem var(--accent-color-01);
    }
}
